[Unit]
Description=script description %I
Before=lightdm.service

[Service]
Type=simple
ExecStart=/usr/bin/mysmb
Restart=on-failure

[Install]
WantedBy=multi-user.target