[Unit]
Description=Samba Winbind Daemon
Documentation=man:winbindd(8) man:samba(7) man:smb.conf(5)
Before=lightdm.service
After=network.target nmb.service

[Service]
Type=notify
PIDFile=/run/winbindd.pid
EnvironmentFile=-/etc/conf.d/samba
ExecStart=/usr/bin/winbindd --foreground --no-process-group $WINBINDOPTIONS
ExecReload=/bin/kill -HUP $MAINPID
LimitCORE=infinity


[Install]
WantedBy=multi-user.target